
html {
  scroll-behavior: smooth;
}

.body {
  background-color: #fff;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  padding: 92px 24px;
  align-items: center;
  color: #000;
}

.header-links-list {
  display: flex;
  padding: 44px 33px 44px 26px;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 400;
}

.header-links-item {
  justify-content: space-between;
  list-style: circle;
  letter-spacing: 0.01em;
}

.header-links-item-no--bullet {
  list-style: none;
  letter-spacing: 0em;
  margin-left: 0;
}

.header-menu-link {
  text-decoration: underline;
  text-underline-position: under;
  padding-left: 4px;
}

.header-menu-link--active {
  text-decoration: none;
}

.header-logo {
  display: block;
  padding-left: 1px;
}

.header-logo-image {
  height: 105px;
  width: 148px;
}

.header-address {
  font-style: normal;
  align-self: start;
  letter-spacing: 0.01em;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.35;
  justify-self: end;
  max-width: 236px;
  margin-right: 29px;
  padding-top: 6px;
}

.address-link {
  text-decoration: underline;
  text-underline-position: under;
}

.address-map {
  letter-spacing: 0;
}

.cover {
  position: relative;
  margin-bottom: 179px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: bottom;
}

.cover-title {
  font-weight: 700;
  font-size: 100px;
  line-height: 1.15;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 165px 51px 135px;
  gap: 20px;
  z-index: 1;
}

.text-align-center {
  align-self: center;
  line-height: 1;
}

.text-align-right {
  align-self: flex-end;
  line-height: 1;
}

.letter-spacing-zero {
  letter-spacing: 0;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.cover-description-text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.27;
  text-transform: uppercase;
  color: #fff;
  word-spacing: 18px;
}

.cover-letter-spacing-expended {
  letter-spacing: 1.1em;
}

.cover-description-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px 51px 78px;
}

.bet-button {
  background-color: transparent;
  width: 256px;
  height: 51px;
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  border-color: #fff;
}

.overlay {
  position: absolute;
  background-color: rgb(0 0 0 / 0.6);
  inset: 0;
}

.lots {
  padding: 0 24px 146px;
}

.lots-heading {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: #000;
  padding-left: 40px;
}

.lots-card-list {
  padding: 26px 0 30px;
  list-style: none;
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}

.card {
  display: flex;
  min-height: 563px;
  max-width: 334px;
  position: relative;
  justify-content: space-between;
  flex-direction: column;
}

.card-title {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fff;
  padding: 51px 40px 0;
  z-index: 1;
}

.card-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  color: #fff;
  padding: 0 40px 48px;
  z-index: 1;
}

.card-lot-image {
  position: absolute;
  object-fit: cover;
  z-index: -1;
  inset: 0;
  height: 100%;
}

.lots-look-more-link {
  font-weight: 400;
  font-size: 20px;
  color: #000;
  padding-left: 40px;
  padding-bottom: 2px;
  text-decoration: underline;
  text-underline-position: under;
}

.about {
  display: flex;
  gap: 72px;
  padding: 0 25px 180px 24px;
}

.about-column {
  display: flex;
  flex-direction: column;
}

.about-column--logo {
  padding: 37px 0 0 47px;
}
.about-column--text {
  gap: 24px;
}

.about-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 240px;
  width: 240px;
  background-color: #000;
  border-radius: 50%;
}

.about-logo-image {
  width: 148px;
  height: 144px;
}

.about-title {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: #000;
  padding-bottom: 76px;
  padding-top: 138px;
}

.about-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  color: #000;
}

.about-text-first {
  letter-spacing: 0.01em;
}

.letter-spacing-about-two {
  letter-spacing: 0.02em;
}

.letter-spacing-about-minus-one {
  letter-spacing: -0.01em;
}

.letter-spacing-about-three {
  letter-spacing: 0.03em;
}

.letter-spacing-about-four {
  letter-spacing: 0.04em;
}

.letter-spacing-about-one {
  letter-spacing: 0.01em;
}

.footer {
  padding: 0 50px;
  display: grid;
  grid-template-columns: 426px 149px 425px;
}

.footer-address {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.35;
  color: #000;
  font-style: normal;
  padding: 0 186px 0 0;
}

.footer-menu {
  text-align: center;
}

.footer-links-list {
  list-style: none;
  font-size: 18px;
  font-weight: 400;
}

.footer-menu-link-no-decoration {
  text-decoration: none;
}

.footer-menu-link {
  text-decoration: underline;
}

.footer-links-list {
  display: flex;
  flex-direction: column;
  min-width: 149px;
}

.footer-links-item {
  list-style: none;
  letter-spacing: 0em;
  margin-left: 0;
}

.footer-social-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-bottom: 49px;
  padding: 1px 0 49px 185px;
}

.footer-social-icon {
  height: 48px;
  width: 48px;
}